/* Reset & usual html and body css codes - Method 1 */
* {
  margin: 0;
  padding: 0;
  /* Note that box-sizing here is inherit */
  box-sizing: inherit;
}

html {
  /* It would be better to give font-size and box-sizing to html selector */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #eee;
  /* Having fonts in our project - Method 1 - Step 2 */
  /* It would be better to give font-family,weight,style to body selector */
  font-family: 'Press Start 2P', sans-serif;
  font-weight: 400;
  font-style: normal;
  /* background-color: #60b347; */
}

/* It would be better to write all the sizes in rem. */

.container {
  padding: 0 2rem;
}

/* Should define font-family,weight,style,size,... for buttons seperately from all the document */
.btn {
  /* Note the border: none; */
  border: none;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 2rem;
  color: #222;
  background-color: #eee;
  padding: 2rem 3rem;
}

header {
  border-bottom: 1rem solid #eee;
}

/* Note that for the layout of the header-container, we used position properties */
.header-container {
  position: relative;
  height: 24rem;
}

.header-container .again {
  position: absolute;
  left: 0;
  top: 2rem;
}

.header-container .condition {
  position: absolute;
  right: 0;
  top: 2rem;
  font-size: 1.4rem;
}

.header-container h1 {
  position: absolute;
  /* Centering an element: Using absolute position with transform, translate. */
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 4rem;
}

.header-container .question-mark {
  /* Note that how we centered the question-mark div. */
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  padding: 0 5rem;
  /* Note that how we centered the content of question-mark vertically. */
  height: 12rem;
  line-height: 12rem;
  text-align: center;
  font-size: 6rem;
  color: #333;
  background-color: #eee;
}

.main-container {
  display: flex;
  align-items: center;
  padding: 10rem 0;
}

.main-container .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container .left input {
  /* Note outline: none; and border: ...; to remove the default border of the input and customize it */
  outline: none;
  border: 0.5rem solid #eee;
  /* Should define font-family,weight,style,size,... for inputs seperately from all the document */
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 6rem;
  background-color: #222;
  color: #eee;
  padding: 1rem 2rem;
  height: 12rem;
  width: 22rem;
  text-align: center;
  margin-bottom: 3rem;
}

.main-container .right {
  width: 50%;
  font-size: 2rem;
  padding-left: 20rem;
}

.main-container .right .result {
  margin-bottom: 8rem;
}

.main-container .right .score-label {
  margin-bottom: 3rem;
}
